# pre-commit.ci configuration
ci:
  autofix_prs: false
  autoupdate_branch: 'master'
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: monthly
  # Both of these require external Python libs to be installed in the environment
  skip: [pylint, align-python-version]
  submodules: false

# pre-commit hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-yaml
    name: Check YAML
  - id: check-toml
    name: Check TOML
  - id: destroyed-symlinks
  - id: end-of-file-fixer
  - id: requirements-txt-fixer
    name: Fix requirements.txt
    files: ^requirements\.txt$
  - id: trailing-whitespace
    args: [--markdown-linebreak-ext=md]
  - id: check-executables-have-shebangs
  - id: check-shebang-scripts-are-executable

- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 26.1.0
  hooks:
  - id: black

- repo: https://github.com/PyCQA/bandit
  rev: '1.9.3'
  hooks:
  - id: bandit
    args: [-r]

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.19.1
  hooks:
  - id: mypy

- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: pylint
    language: python
    types: [python]
    require_serial: true
  - id: align-python-version
    name: Align Python Version
    entry: invoke
    args: [check-dockerfile-python-version]
    language: system
    files: ^(Dockerfile|.github/workflows/ci_tests.yml|pyproject.toml)$
    pass_filenames: false
    description: 'Check that the Python version in the Dockerfile, GitHub Actions, and pyproject.toml are aligned.'
